body{
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1234;
}
header {
    width: 100%;
    background-color: #4567;
}
header img {
    margin: 2% 2%;
}


nav {
    display: inline-block;
}
nav ul {
    width: 1000px;
    position: absolute;
    display: inline-block;
    top: 6%;
}
nav ul li {
    margin-left: 10%;
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
}
main div img {
    margin: 2%;
}

section img {
    margin-left: 2.4%;
}
.img{
    
    margin-left: 4.5%;

}
div {
    display: inline-block;
}
section p{
    
    display: inline-block;
    width: 90%;
    text-align: justify;
    position: absolute;
    margin-left: 3%;
    
}
#p {
    display: inline-block;
    position: absolute;
    overflow-y: scroll;
    margin: 30px;
    height: 350px;
    width: 500px;
    margin-bottom: 25px;
}
